<article class="workshop-card m-l-r card_workshop" id="<%= dom_id workshop %>">
  <div class='img <%= workshop.main_high_or_wide %>' style='background-image:url(<%= image_url workshop.main_get_image  %>);'></div>
  <div class="cont-info m-t">
    <div class="workshop-info p-l-r">
        <h4 class="title"><%= workshop.activity_title %></h4>
        <p class="p-r description"><%= workshop.activity_description %></p>
      <div class="small-info">

          <div class="price">
            <div class=""><i class="fa fa-money" aria-hidden="true"></i><%= workshop.price %></div>
          </div>
      </div>
      <div class="p-b">
        <% if workshop.workshop_category.present? %>
        <span class="tag-input-outline m-t"> <img src='<%= image_url("icons/category-invert/#{workshop.workshop_category.to_s.parameterize}.svg") %>' class="category-icon"/><%= workshop.workshop_category %></span>
        <% end %>
        <div class="teacher">
            Por:
              <%= image_tag workshop.normal_profile.get_image_thumb %>
          </div>

          <span>
            <% new_msj_learner = current_profile.workshop_schedule_message_observers.joins(:workshop).where(workshops: {id: workshop}).state_new.kind_learner.count %>
            <% unless new_msj_learner.zero? %><span class='badge' style="background-color: purple;padding: 10px;border-radius: 20px;"><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= new_msj_learner %></span><% end %>
          </span>



      </div>
    </div>
  </div>
  <div class="a-c b-t-g col-xs-12 flex j-c p-b p-t-b">


    <%= link_to nil, class: "show-modal cont-wish m-r flex a-c j-c", data: {behavior: 'ajax-modal'} do %>
        <i class="fa fa-users" aria-hidden="true"></i>
    <% end %>


    <%= link_to 'VER', nil, class: 'action center-block m-t-b m-r', data: {behavior: 'ajax-modal'} %>

  </div>


</article>
