<section class="container p-t-5 p-b-3 user-account">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.fields_for :normal_profile do |profile| %>
    <% @normal_profile = profile.object %>

    <article class="row p-t-3 personal-information">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="col-xs-12 col-sm-3">
        <div class="col-xs-12 p-t-b-2 avatar imageloader-container">
          <div class="cont-avatar">
            <div class="avatar-hover">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
            <% image_obj = (@normal_profile.image.present?) ? @normal_profile.image : Image.new %>
            <%= profile.fields_for :image, image_obj do |image| %>
            <%= image.file_field :file, class: 'imageloader-file', style: 'position: absolute; width: 110px; height: 110px; z-index: 9; opacity: 0; cursor: pointer;'  %>
            <%= image.hidden_field :file_cache if image_obj.file_cache.present? %>        
            <img class="imageloader-img" src="<%= image_url @normal_profile.get_image %>" />
          </div>



            <% if profile.object.errors[:image].any? %>
              <p class="text-danger"><%= profile.object.errors[:image].join('') %></p>
            <% end %>
          <% end %>

        </div>
        <div class="col-xs-12 preferences">
          <div class="box-interest">
            <div class="interest-list">
              <%= profile.label :workshop_category_to_learn_ids, class: 'info-section-small' %>
              <%= profile.collection_select(:workshop_category_to_learn_ids, WorkshopCategory.order_default, :id, :to_s, {}, {multiple: true, class: 'select-custom', placeholder: 'Que querés aprender?'}) %>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-xs-12 preferences">
          <div class="box-interest">
            <div class="interest-list">
              <%= profile.label :workshop_category_to_teach_ids, class: 'info-section-small' %>
              <%= profile.collection_select(:workshop_category_to_teach_ids, WorkshopCategory.order_default, :id, :to_s, {}, {multiple: true, class: 'select-custom', placeholder: 'Que querés enseñar?'}) %>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-9 details-account select_ajax_geo_container">
        <h2 class="info-section b-b-g p-t-b m-t-2">Datos personales</h2>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
            <%= profile.label :name, class: 'info-section-small' %>
            <%= profile.text_field :name, autofocus: true, class: 'j-input' %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
            <%= profile.label :surname, class: 'info-section-small' %>
            <%= profile.text_field :surname, class: 'j-input' %>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
            <%= f.label :email, class: 'info-section-small' %>
            <%= f.email_field :email, class: 'j-input' %>
            </div>
          </div>
        </div>
        
        <h2 class="info-section b-b-g p-t-b m-t-3">Contraseña</h2>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">       
            <%= f.label :password, autocomplete: "off", class: 'info-section-small' %>
            <%= f.password_field :password, class: 'j-input' %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
            <%= f.label :password_confirmation, autocomplete: "off", class: 'info-section-small' %>
            <%= f.password_field :password_confirmation, class: 'j-input' %>
            </div>
          </div>
        </div>


        <div class="p-t-b-2 action-cont">
          <%= button_tag('GUARDAR', type: 'submit', class: 'action center-block m-t-b m-r', data: {'disable-with' => 'GUARDANDO'}) %>
        </div>
      </div>



    </article>

  <% end %>
  <% end %>


</section>
