<!DOCTYPE html>
<html lang="es">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111565884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111565884-1');
</script>




<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBBNJKN');</script>
<!-- End Google Tag Manager -->

<%= render 'head' %>

<%= yield :social_links %>


<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
<body class="skin-green-light sidebar-collapse">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBBNJKN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="wrapper">

    <%= render 'navbar' %>
    


    <div class="p-t-5" id="app-wrapper">
        <%= yield %>
        <section id="snackbar-container-l">
          <%= flash_messages if flash %>
        </section>
    </div>

    <% unless current_page?('/chat') || current_page?('/buscar-taller') %>
      <%= render partial: 'shared/footer' %>
    <% end %>

    <!-- Exceptions -->
    <% if current_page?('/chat') || current_page?('/buscar-taller') %>
      <style media="screen">
      body {
        overflow: hidden;
      }
        #app-wrapper {
          height: 100vh;
        }
      </style>
    <% end %>
  </div>
  <%= render 'modal_one' %>
</body>
</html>
