<!-- Modal -->
<div id="details" class="modal fade custom-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    
  </div>
</div>



<section class="container cont-cards user-panel" id='to_teach_workshops'>
  <div class="flex j-e row m-t">
    <%= link_to authenticated_workshops_create_path, class: 'action' do %>
      Crear taller
    <% end %>
  </div>
  <div class="row p-t">
    <div class="col-xs-12">
      <h2 class="row info-section-medium">
        Mis talleres <small>(Como instructor)</small>
      </h2>
    </div>
  </div>
  <div id="panel-paginator">
    <ul class="col-xs-12">
      <li>
        <%= link_to 'Borrador', authenticated_main_to_teach_workshops_path(:draft), class: "partial-selector #{(@state == :draft)? 'active' : ''}" %>
      </li>
      <li>
        <%= link_to 'Abiertos', authenticated_main_to_teach_workshops_path(:open), class: "partial-selector #{(@state == :open)? 'active' : ''}" %>
      </li>
      <li>
        <%= link_to 'En curso', authenticated_main_to_teach_workshops_path(:in_progress), class: "partial-selector #{(@state == :in_progress)? 'active' : ''}" %>
      </li>
      <li>
        <%= link_to 'Terminados', authenticated_main_to_teach_workshops_path(:finish), class: "partial-selector #{(@state == :finish)? 'active' : ''}" %>
      </li>
      <li>
        <%= link_to 'Todos', authenticated_main_to_teach_workshops_path, class: "partial-selector #{(@state == :all)? 'active' : ''}" %>
      </li>
    </ul>
  </div>

  <div class="row p-t-b"> <!-- Mapear Workshops -->
    <h2 class="col-xs-12 info-section p-b b-b-g">
      Talleres > <strong><%= state_name @state %></strong>
    </h2>
    <% if @workshops.empty? %>
      <div class="col-xs-12 info-state flex f-d-c j-c a-c">
          <div class="message">No tienes ningun taller en "<%= state_name @state %>"</div>
      </div>
    <% else %>
      <% @workshops.each do |workshop| %>
      <div class="col-xs-12 col-sm-6 col-md-3 m-t-b flex j-c">
        <%= render partial: 'shared/components/to_teach_card_workshop', locals: {workshop: workshop} %>
      </div>
      <% end %>
    <% end %>
  </div>

</section>
